{{define "title"}}{{.Blog.Title}} を編集{{end}}

{{define "body"}}
<div class="container mx-auto px-4 py-8">
  <header class="flex justify-between items-center mb-8">
    <h1 class="text-4xl font-bold">{{.Blog.Title}} を編集</h1>
    <a href="/my/blogs/{{.Blog.Path}}" class="text-blue-500 hover:underline">ブログ詳細に戻る</a>
  </header>
  <section class="mb-8">
    <form method="POST" action="/my/blogs/{{.Blog.Path}}/edit" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">パス</label>
        <span class="text-gray-700">/blogs/{{.Blog.Path}}</span>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">タイトル</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" name="title" value="{{.Blog.Title}}">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">説明</label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" name="description">{{.Blog.Description}}</textarea>
      </div>
      <div class="flex items-center justify-between">
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="更新">
      </div>
    </form>
  </section>
  <section>
    <form method="POST" action="/my/blogs/{{.Blog.Path}}/delete">
      <input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
      <p><input type="submit" value="削除" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"></p>
    </form>
  </section>
</div>
{{end}}
